header
  background: white
  &:after
    content: ""
    background: url('/assets/images/nav-bg.png') bottom center
    display: block
    height: 30px
    width: 100%
    position: absolute

ul.nav.navbar-nav
  a
    position: relative
    &:after
      position: absolute
      top: 80%
      left: 0
      width: 80%
      margin-left: 10%
      height: 1px
      background: $gray-lighter
      background-position: center
      content: ""
      opacity: 0
      transition: height 0.3s, opacity 0.3s, transform 0.3s
      transform: translateY(-10px)
    &:hover,
    &:focus
      &:after
        height: 2px
        opacity: 1
        transform: translateY(0px)

.navbar-brand
  position: absolute
  width: 100%
  left: 0
  top: 0
  text-align: center
  margin: auto !important
  z-index: -1
