doctype html
html
  head
    title Kamenictvi
    meta name="keywords" content="template language"
    meta name="author" content="author"
    link href="/assets/css/style.css" rel="stylesheet"
  body
    header.navbar.navbar-fixed-top role="banner"
      .container
        | resp menu
        .navbar-header
          button.navbar-toggle.collapsed data-target=".bb-navbar-collapse" data-toggle="collapse" type="button"
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand href="#"
            | asdasd
        nav.collapse.navbar-collapse
          ul.nav.navbar-nav
            li asdfasdf
    main
      ul
        li
          a
            .wrapper
              img src="http://fashionarena.test.webapps.cz/system/logos/attachments/000/000/370/original/faoc-logo89_02.png?1421847948"
        li
          a
            .wrapper
              img src="http://fashionarena.test.webapps.cz/system/logos/attachments/000/000/268/original/faoc-logo43.png?1421845746"
        li
          a
            .wrapper
              img src="http://fashionarena.test.webapps.cz/system/logos/attachments/000/000/209/original/faoc-logo81.png?1421847607"

