.forsale--wrapper
  +make-row()
  .forsale--box
    +make-md-column(2, 0)
    border-right: 1px solid $gray-exlight
    font-family: $font-family-sans-serif
    &:hover
      box-shadow: 0 0 8px rgba(black, 0.8)
      z-index: 100

    img
      max-width: 100%
    .forsale--box-content
      padding: 20px
    dl
      dt
        color: $gray-lighter
        font-weight: normal
        font-size: 80%
      dd
        margin-bottom: 8px
    h4
      small
        display: block
        margin-top: 10px
        margin-bottom: 10px
        color: $gray-lighter
    a.btn
      font-family: $font-family-serif
    p
      font-family: $font-family-sans-serif
